<ul class="app-slider__list swiper-wrapper">
  @loop('list/_app-slide__list.html', [
  {'jpg': 'slide',
  'title': 'Survival Island: EVO 2',
  'span1': '20 000 000+ скачиваний',
  'span2': '23 000+ отзывов'},
  {'jpg': 'slide',
  'title': 'Survival Island: EVO 2',
  'span1': '20 000 000+ скачиваний',
  'span2': '23 000+ отзывов'},
  {'jpg': 'slide',
  'title': 'Survival Island: EVO 2',
  'span1': '20 000 000+ скачиваний',
  'span2': '23 000+ отзывов'},
  {'jpg': 'slide',
  'title': 'Survival Island: EVO 2',
  'span1': '20 000 000+ скачиваний',
  'span2': '23 000+ отзывов'},
  {'jpg': 'slide',
  'title': 'Survival Island: EVO 2',
  'span1': '20 000 000+ скачиваний',
  'span2': '23 000+ отзывов'},
  {'jpg': 'slide',
  'title': 'Survival Island: EVO 2',
  'span1': '20 000 000+ скачиваний',
  'span2': '23 000+ отзывов'}
  ])
</ul>