<div class="@class">
  <h2 class="title form__title">
    Связаться с нами
  </h2>
  <span class="form__subtitle">
    заполните форму и мы вам перезвоним
  </span>
  <form class="form__wrapper">
    <div class="form__wrap">
      <label class="form__label form__label--one">
        <input class="form__input" type="text" placeholder="Имя">
      </label>
      <label class="form__label">
        <input class="form__input" type="tel" placeholder="Телефон" required>
      </label>
      <label class="form__label form__label--three">
        <input class="form__input" type="email" placeholder="E-mail" required>
      </label>
      <label class="form__label">
        <input class="form__input" type="url" placeholder="URL-ссылка на приложение">
      </label>
      <div class="custom-select">
        <select>
          <option value="0">Чем мы можем помочь?</option>
          <option value="1">Нужен издатель</option>
          <option value="2">ASO продвижение PlayМаркет / AppStore</option>
          <option value="3">Аудит</option>
          <option value="4">Рекламный трафик</option>
        </select>
      </div>
      <div class="custom-select">
        <select>
          <option value="0">Укажите рекламный бюджет</option>
          <option value="1">Бюджета нет - нужен издатель</option>
          <option value="2">До 500 $</option>
          <option value="3">500 - 1 500 $</option>
          <option value="4">1 500 - 5 000 $</option>
          <option value="5">5 000 - 10 00 $</option>
          <option value="5">10 000 - 40 000 $</option>
          <option value="5">Более 40 000 $</option>
        </select>
      </div>
    </div>
    <label class="form__check" for="@check">
      <input class="form__checkbox" required type="checkbox" id="@check">
      <span class="form__box"></span>
      <span class="form__span">Я согласен(-на) на обработку</span> <a href="#">персональных данных.</a>
    </label>
    <button class="form__btn" type="submit">
      Отправить
    </button>
  </form>
</div>