<div class="popup-final">
  <div class="popup-final__wrapper">
    <div class="popup-final__content">
      <svg class="popup-final__close">
        <use xlink:href="img/sprite.svg#close"></use>
      </svg>
      <div class="popup-final__title">
        <span>Спасибо!</span>
        Ваша заявка принята
      </div>
      <div class="popup-final__text">
        <p>
          Пока вы ждёте ответа от менеджера, посмотрите наши публикации в соцсетях
        </p>
      </div>
      <ul class="icons">
        <li class="icons__li">
          <a class="icons__link icons__link--youtube popup-final__link" href="#">
          </a>
        </li>
        <li class="icons__li">
          <a class="icons__link icons__link--inst popup-final__link" href="#">
          </a>
        </li>
        <li class="icons__li">
          <a class="icons__link icons__link--twit popup-final__link" href="#">
          </a>
        </li>
        <li class="icons__li">
          <a class="icons__link icons__link--vk popup-final__link" href="#">
          </a>
        </li>
        <li class="icons__li">
          <a class="icons__link icons__link--facebook popup-final__link" href="#">
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>